/* ==============================HEADER============================== */

.navbar {
    background-color: black;
}

.container-fluid {
    padding: 0;
}

.col-12 {
    padding: 0;
}

.black_article {
    background-color: black;
    color: white;

}

h4 {
    font-size: 0.7em;

}

h3 {
    font-size: 0.8em;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
}

p a {
    color: #8a940d;
    text-decoration: underline;
}

.sub_article {
    border: 3px solid black;
    margin: 17% 2%;
    border-right: none;
    border-left: none;
}
